@import url('https://fonts.googleapis.com/css2?family=Offside&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

a {
    text-decoration: none;
    color: #A3CDFC;
}

body {
    font-family: 'Offside', sans-serif;
    color: #A3CDFC; 
    background: #5696CB;  
    margin: 0px;
}

h1 {
    font-size: 48px;
    margin: 0px;
}

p {
    font-family: 'Lora';
    font-size: 32px;
}

#shade {
  position:absolute;
  top:0;
  right:0;
  background-color: black;
  opacity: 30%;
  width: 100%;
  z-index: 2;
}

#modal {
  position: absolute;
  top:20%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  border-radius: 10%;
  border-style:solid;
  border: 2;
  background-color: #377CB6;
  z-index: 3;
}

#modal p {
  font-family: 'Offside';
}


#burger {
    display: none;
    z-index:5;
}

#navbar {
    position: sticky;
    top: 0px;
    background-color: #5E9FD5;
    height: 90px;
}

#navbar-pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 300px;
}

#navbar-items {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

#sidebar p, #navbar-items p {
    font-family: 'Offside';
}

#sidebar p {
    padding-top: 12px;
}

#sidebar {
    display: none;
    position: fixed;
    z-index: 4;
    /* top:0; */
    right:0;
    height: 100%;
    width: 30%;
    text-align:center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #5E9FD5;
}

#website-logo, #burger {
    width: 60px;
    height: 60px;
}

.logo {
    height: 45px;
    width: 45px;
}

.item-container {
    display: flex;
    justify-content: space-between;
}

.general-container {
    padding-top: 100px;
}

.btn-small-round {
  font-family: 'Offside';
  border: 1;
  border-style:solid;
  border-radius: 20%;
  font-size: 14px;
  width: 60px;
  height: 30px;
}

.btn {
  font-family: 'Offside';
  border: 1;
  border-style:solid;
  border-radius: 5%;
  font-size: 14px;
  width: 90px;
  height: 45px;
}

.contrast {
    color: #FFCC86; 
}

.contrast-back {
    background-color: #FFCC86; 
}

.main-color {
    color: #A3CDFC;  
}

.main-back {
    background-color: #5696CB; 
}

.main-text {
    color: #5696CB;  
}

.secondary-back {
    background-color: #D9D9D9;
}

.centre {
    text-align: center;
}

@media only screen and (max-width: 720px) {
    h1 {
        font-size: 45px;
        margin: 0px;
    }
    
    p, ul, li {
        font-family: 'Lora';
        font-size: 24px;
    }

    .logo {
        height: 38px;
        width: 38px;
    }

    #navbar {
        height: 75px;
    }
    
    #navbar-items {
        height: 75px;
    }

    #burger {
        display: block;
    }

    #navbar-pages {
        display: none;
    }
}

@media only screen and (max-width: 540px) {
    h1 {
        font-size: 30px;
    }
    
    p, ul, li {
        font-size: 16px;
    }

    .logo {
        height: 30px;
        width: 30px;
    }

    #logo-container {
        width: 150px;
    }

    #website-logo, #burger {
        width: 40px;
        height: 40px;
    }

    #navbar {
        height: 60px;
    }
    
    #navbar-items {
        height: 60px;
    }
}

.note {
  background-color: #7DB3DF;
  text-align: center;
  height: 200px;
  width: 200px;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 30px
}

.note h3, p {
  font-family: 'Offside';
  color: #C3DEFC;
}

.note p {
    font-size: 24px;
}

.note h3 {
    font-size: 28px;
}

#root{
  text-align: center;
}

.main-border {
  border-color: #A3CDFC;
  border: 1;
  border-style: solid;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}